[Unit]
Description=dns
Author=Jon Chen
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run --name dns -p 53:53/udp -p 53:53/tcp bsdlp/dns
ExecStop=/usr/bin/docker kill dns 

[Install]
WantedBy=local.target
