[Unit]
Description=Irssi
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker run -p 2222:22 -p 113:113 -v /srv/irssi/.irssi:/home/jchen/.irssi -v /srv/irssi/irclogs:/home/jchen/irclogs --name irssi bsdlp/irssi
ExecStop=/usr/bin/docker kill irssi
ExecStopPost=/usr/bin/docker rm irssi

[Install]
WantedBy=local.target
